<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.SellerMapper">
	
	<select id="select" parameterType="Integer" resultType="SellerDTO">
		SELECT * FROM seller WHERE sellid=#{sellid}
	</select>
	<select id="selectall" resultType="SellerDTO">
		SELECT * FROM seller
	</select>
	<insert id="insert" parameterType="SellerDTO">
		INSERT INTO seller VALUES (#{sellid}, #{seller}, #{saddr})
	</insert>
	<update id="update" parameterType="SellerDTO">
		UPDATE seller SET seller=#{seller}, saddr=#{saddr} WHERE sellid=#{sellid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM seller WHERE sellid=#{sellid}
	</delete>
	
</mapper>